:root {
  font-family: "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", monospace;
  color: #f5f7ff;
  background-color: #0a0d14;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
